/*!
 * TrippoApp v1.0
 * Copyright 2012 Trippo, Inc
 * Licensed under CC BY 3.0
 * http://creativecommons.org/licenses/by/3.0/
 *
 */
 
 /***** STRUCTURE *****/
 
 body { 
	background: url('../img/bg.png') repeat-x;
	background-color: #fff;
	}
	
h1, h2, h3, h4, h5, h6 {
	text-shadow: white 0.02em 0.02em;
	font-family: 'QlassikBold', sans-serif;
	}
	
h2 {
	font-size: 2.3em;
}
 
 .content {
	padding-top:100px;
	font-size: 1.1em;
	line-height: 1.8em;
	}
	
.content p {
	font-size: 1.0em;
	line-height: 1.8em;
	margin-bottom: 1.1em;
	}
	

/***** BODY *****/
	
.page-title {
	padding: 100px 0 30px 0;
	}
	
.arrow-top img {
	margin: -7px 0 0 15px;
	}


	
/***** NAVIGATION BAR *****/

.navbar .brand {
	font-weight: bold;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
}



/***** HOMEPAGE *****/
	
#details {
	position: relative;
	float: right;
	width: 527px;
	margin-top: 80px;
	padding-left: 20px;
}

#icon {
	position: relative;
	float: left;
	margin-right: 20px;
}

#app-name {
	position: relative;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}

#app-name h1 {
	font-size: 5.5em;
	font-size: 5.5em;
	color: #ECECEC;
	text-shadow: -1px 0 #B3B3B3, 0 1px #B3B3B3, 1px 0 #B3B3B3, 0 -1px #B3B3B3, #020763 0.03em 0.03em;
	}
	
#version {
	top: 30px;
	position: relative;
	float: left;
}

#tagline {
	font-size: 1.4em;
	margin-top: 2em;
	clear: both;
}

#description {
	margin-top: 1.5em;
	margin-bottom: 1.8em;
}

#features li {
	background: url('../img/check.png') no-repeat left;
	list-style: none;
	padding-left: 25px;
	margin-left: -23px;
	line-height: 1.7em;
}

.download-box {
	width: 45%;
	float: left;
	padding-top: 20px;
	padding-right: 5%;
	font-size: 0.9em;
	line-height: 1.3em;
	}
	
	
	
/***** ABOUT PAGE *****/
.no-bullets-ul
{
    list-style-type: none;
}
.panel-text-box
{
		width:100%;
		/* background-color:#CCC; */		
        overflow-y:auto;
		float:left;
		position:relative;
		margin-left:0px;
}

.updates ul {
	list-style: none;
	padding-top: 10px;
	clear: both;
	margin: 0 0 25px 0;
	}
	
.updates ul li {
	margin-bottom: 10px;
	}
	
.updates hr {
	border-top: 1px solid #CCC;
	}
	
.updates .label {
	display: block;
	float: left;
	margin-right: 10px;
}

.version {
	float:left;
	}

.release-date {
	float:right;
	margin-top: 4px;
	color: #999;
	font-size: 0.85em;
	}
	
.new {
  background-color: #3a87ad;
}

.fix {
	background-color: #468847;
	padding: 1px 8px 2px;
	}
	

	
/***** CONTACT *****/

#contact-form {
	border-left: 1px solid #cccccc;
	}
	
#contact-info {
	padding-bottom:20px;
	}
	
	
	
/***** FOOTER *****/

.footer {
	font-size: 0.85em;
	line-height: 1.5em;
	padding: 15px 0;
	border-top: 1px solid #CCC;
}

#copyright {
	float:left;
	}
	
#credits {
	float:right;
	}